*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    background: #F3F3F3;
}

header{
    display:flex;
justify-content: center;;
align-items: center;
height: 60px;
background-color: #EEE;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

main{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

main .list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    
    background-color: #FFF;
    border:1px solid black;
    margin-top:25px;
}

main .list .item{
    padding:15px;
    border:none;
}



main .list .item:hover{
    color: sienna;
    background-color: slategray;
    border: 1px solid rgb(58, 15, 15);
}

.pagination{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;;
    align-items:center;

}

.pagenumbers button{
    width: 50px;
    height:50px;
     appearance: none;
     border :none;
     outline:none;
     cursor: pointer;
     background-color: #4ae;
    margin: 5px;
    transition: 0.4s;
    color: #FFF;
    font-size: 18px;
    text-shadow: 0 0 0 4px rgba(0,0,0,0.2);
    text-shadow: 0 0 0 4px rgba(0,0,0,0.2);

}

.pagenumbers button:hover{
    background-color: seagreen;
}

.pagenumbers button.active{
    background-color: seagreen;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.4);
}